[Desktop Entry]
Comment=Materia Style theme with grey instead of brown

Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;
Name=Materia Grey

Type=Service

X-KDE-PluginInfo-Author=Josh Freeno
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=freefreeno81@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=Materia-Grey
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/freefreeno/Materia-Grey-KDE
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-Plasma-MainScript=defaults
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1309827,kns://plasma-themes.knsrc/api.kde-look.org/1309829,kns://icons.knsrc/api.kde-look.org/1309830,kns://wallpaper.knsrc/api.kde-look.org/1310278
